*.glb filter=lfs diff=lfs merge=lfs -text
/public/img/AsusEX-A320M-Gaming.png filter=lfs diff=lfs merge=lfs -text
/public/img/NvidiaGeForceRTX3070.png filter=lfs diff=lfs merge=lfs -text
/public/img/NvidiaGeForceRTX3080.png filter=lfs diff=lfs merge=lfs -text
/public/img/NvidiaGeForceRTX3090.png filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/cooling/CorsairAFELITE120mm.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/cooling/CorsairAFELITE140mm.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/cooling/CorsairAFELITE92mm.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/cooling/CorsairAFSLIM120mm.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/cooling/CorsairAFSLIM140mm.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/cooling/CorsairAFSLIM92mm.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/cooling/CorsairICUELINKQX120mm.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/cooling/CorsairICUELINKQX140mm.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/cooling/CorsairICUELINKQX92mm.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/cpu/AMDRyzen5-5600.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/cpu/AMDRyzen7-5700.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/cpu/AMDRyzen9-5950x.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/graphic_cards/NvidiaGeForceRTX3070.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/graphic_cards/NvidiaGeForceRTX3080.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/graphic_cards/NvidiaGeForceRTX3090.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/motherboards/AsusEX-A320M-Gaming.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/motherboards/AsusRogStrixB350-I.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/motherboards/MSIX370XPowerGamingTitatnum.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/pc_cases/CoolerMasterCaseMaker5t.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/pc_cases/CoolerMasterNR200MiniITXNEW.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/pc_cases/PhanteksEclipseP300Midtower.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/power_units/CX550Powerunit.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/power_units/HX1200Powerunit.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/power_units/HX850Powerunit.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/ram/CorsairVengeance16gbDDR5.glb filter=lfs diff=lfs merge=lfs -text
/public/pc_parts/storage/SeagateBarraCuda2TB.glb filter=lfs diff=lfs merge=lfs -text
/src/data/case.json filter=lfs diff=lfs merge=lfs -text
/src/data/internal-hard-drive.json filter=lfs diff=lfs merge=lfs -text
/src/data/memory.json filter=lfs diff=lfs merge=lfs -text
/src/data/video-card.json filter=lfs diff=lfs merge=lfs -text
